<h3>Cart</h3>

<!-- Add a shipping link in the cart window-->
<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<!-- Use a formGroup property binding to bind checkoutForm to the html form-->
<!-- On the form tag, use an ngBumit event binding to listen for the form submission and call the onSubmit method with the checkoutForm value-->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
<div>
<label for="name">
  Name
</label>
<input type="text" id="name" formControlName="name">
</div>

<div>
<label for="address">
  Address
</label>
<input id="address" type="text" formControlName="Address">
</div>
  <button class="button" type="submit">Purchase</button>
</form>

